.menu{
    list-style-type:none;
    padding:0;
    background:#07529c;
    width:90%;
    max-width:1000px;
    margin:auto;
}
.menu li a{
    text-decoration:none;
    padding:20px;
    display:block;
    color:white;
}
.menu li{
    display:inline-block;
    text-align:center;
}
.menu li a:hover{
    background: #332297;
}
.container-info{
    padding:40px;
}
#box{
    background:hsl(0, 1%, 86%);
    padding:25px;
    
}
#box2{
    background:rgb(250, 250, 250);
    padding:25px;
}
.columns{
    padding: 20px;
}
#container-login{
    background:#dbe0ff;
    text-align: center;
    width:500px;
    border:20px #f0e3ff;
    padding:50px;
    margin:20px;
}
.container-formulario{
    padding:40px;
}

